.timeline-title {
  text-align: left;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(60vh - 100px); /* カードの高さに合わせて調整 */
  overflow-y: auto;
  padding-right: 10px; /* スクロールバーのスペースを確保 */
}

.timeline-item {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
  margin-bottom: 0px; /* 吹き出し間のスペース */
}

.timeline-item.left {
  align-self: flex-start;
  background-color: #e6e6e6;
  border-bottom-left-radius: 0;
  margin-left: 10px;
}

.timeline-item.right {
  align-self: flex-end;
  background-color: #2B7BFF;
  color: #fff;
  border-bottom-right-radius: 0;
  margin-right: 10px;
}
