html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f9fafb;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.card {
  padding: 1.5em;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.25rem);
}

.card-title {
  font-size: 1.125rem;
  font-weight: bold; /* 文字を太字に */
}

.card-header {
  padding-bottom: 0.5rem;
}

.card-content {
  padding-top: 0.5rem;
}

.button {
  width: 100%;
  background-color: #3b82f6;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2563eb;
}

.read-the-docs {
  color: #888;
}

/* src/App.css */
.container {
  width: 100%;
  box-sizing: border-box;
}

.boardContainer {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timeline {
  text-align: left; /* 左揃えにする */
}

.sound-button {
  padding: 10px 20px;
  font-size: 1rem;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px; /* 幅を指定 */
  height: 60px; /* 高さを指定 */
  font-size: 1.5rem; /* フォントサイズを調整 */
  border-radius: 50%; /* 真円にするために50%に設定 */
  background-color: #000000;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.floating-button:hover {
  background-color: #111827;
}

.options {
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.options button {
  margin: 5px 0;
  width: 60px; /* 幅を指定 */
  height: 60px; /* 高さを指定 */
  font-size: 1.5rem;
  border: none;
  background-color: #1f2937;
  color: white;
  border-radius: 50%; /* 真円にするために50%に設定 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #111827;
}

.fly-text {
  position: fixed;
  bottom: 80px;
  right: 40px;
  font-size: 3rem; /* 大きくする */
  font-weight: bold; /*  npm install react-responsive 太くする */
  color: #0056b3; /* 濃くする */
  pointer-events: none;
}
